@model ch.gibz.m151.uran.data.Models.SimpleComment

@{
    ViewData["Title"] = "Se faire foutre";
}

<div class="text-center">
    <h1>Comment or don't.</h1>
    @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.Content)
                <div>
                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Content)
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Comment" class="btn btn-outline-primary" />
            </div>
        }
</div>
